
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <h3>Change product</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.ProductId" name="Id"/>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><p>Price</p></td>
                <td><input type="number" name="Price" /></td>
            </tr>
            @*<tr>
                <td><p>Category</p></td>
                <td>
                    @Html.DropDownList("Category","Categoryes")
                </td>
            </tr>*@
           <tr>
               <td>
                   @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categoryes, "Select cat")
               </td>
           </tr>
            <tr><td><input type="submit" value="Change" /></td></tr>
        </table>
    </form>
</div>
