
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<ul>
    @foreach (var item in ViewBag.Products)
    {
        <li>
            @item.Name @Html.ActionLink("Product", "ProductId", new { id = item.Id  })
        </li>
    }
</ul>

